h1 {
    text-align: center;

}

#facebook {
    color: white;
    background: blue;

}

#instagram {
    color: white;
    background: purple;
}

#x {
    color: white;
    background: black;
}

#reddit {
    color: white;
    background: orangered;
}

#discord {
    color: white;
    background: blue;
}