<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
    <title>Autorrepuestos La Generación</title>
</head>

<body>
    <header>
        <img id="logo-principal" src="../public/images/Autorrepuestos La Generacion.jpeg" alt="">
        <ul>
            <li><a href="#mas-vendidos">Más Vendidos</a></li>
            <li><a href="#recien-llegado">Recién Llegado</a></li>
            <li><a href="#por-acabarse">Por Acabarse</a></li>
            <li><a href="#derechos">Contáctanos</a></li>
        </ul>
        <form action="">
            <input type="text" placeholder="Buscar repuesto..." />
            <button><i class="fa-solid fa-car fa-beat" style="color: #2b99ee;"></i></button>
        </form>
    </header>
    <main>
        <h1 id="mas-vendidos">Más Vendidos!</h1>
        <section>
            <article>
                <img id="Repuesto" src="../public/images/a.jfif" alt="">
                <h2>Bomba De Aceite Optra Desing GM</h2>
                <p id="precios">$10</p>
            </article>

            <article>
                <img id="Repuesto" src="../public/images/b.jfif" alt="">
                <h2>Bomba De Dirección Hidráulica Optra Desing Original</h2>
                <p id="precios">$20</p>
            </article>

            <article>
                <img id="Repuesto" src="../public/images/c.jfif" alt="">
                <h2>Gates OE Tipo Termostato De Refrigerante De Motor</h2>
                <p id="precios">$30</p>
            </article>
        </section>

        <h1 id="recien-llegado">Recién Llegado!</h1>

        <section>
            <article>
                <img id="Repuesto" src="../public/images/d.jpeg" alt="">
                <h2>Bomba De Aceite Optra Desing GM</h2>
                <p id="precios">$40</p>
            </article>

            <article>
                <img id="Repuesto" src="../public/images/e.jpeg" alt="">
                <h2>Bomba De Dirección Hidráulica Optra Desing Original</h2>
                <p id="precios">$50</p>
            </article>

            <article>
                <img id="Repuesto" src="../public/images/f.jpeg" alt="">
                <h2>Gates OE Tipo Termostato De Refrigerante De Motor</h2>
                <p id="precios">$60</p>
            </article>

        </section>

        <h1 id="por-acabarse">Por Acabarse!</h1>

        <section>
            <article>
                <img id="Repuesto" src="../public/images/g.jpeg" alt="">
                <h2>Termostato Para Spark Acdelco</h2>
                <p id="precios">$70</p>
            </article>

            <article>
                <img id="Repuesto" src="../public/images/h.jpeg" alt="">
                <h2>Bomba De Frenos Atoz Motor 1.1</h2>
                <p id="precios">$80</p>
            </article>

            <article>
                <img id="Repuesto" src="../public/images/i.jpeg" alt="">
                <h2>Módulo Abs Explorer 98</h2>
                <p id="precios">$90</p>
            </article>

        </section>

    </main>
    <footer>
        <div class="footer-div">
            <img id="logo-secundario" src="../public/images/Logo-Secundario.jpeg"
                alt="Autorrepuestos La Generacion logo" />
            <ul id="redes-sociales">
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Discord</a></li>
            </ul>
        </div>
        <p id="derechos">Autorrepuestos La Generacion 2024© Todos los derechos reservados.</p>
    </footer>
</body>

</html>